.recent-signup.ui.list
  .item
    .header.name
      %abbr= link_to private_information(person, name: true), person, class: 'green'
  .item
    %i.marker.icon
    .content.address{ class: session[:privacy_mode] ? 'private-information' : '' }
      = private_information address_fields_to_sentence(person)
  .item
    %i.payment.icon
    .content.signup-gift-card
      Gift Card Mailed:
      = t person.signup_gc_sent.class
