%h1.ui.header.page-header Add a Landing Page

= form_for @landing_page, url: landing_pages_path, html: {class: 'ui form'} do |f|
  = render 'form_fields', f: f
  %button.ui.green.button Create Landing Page