<div class="hero" data-image="<%= signup_image %>">
  <div class="row">
    <h2><span><%= signup_lede %></span></h2>
    <a class="btn" href="#signup">Join Now</a>
  </div>

  <div class="hero-background"></div>
</div>

<div class="container">
  <div class="main" role="main">
    <div class="row">
      <h3>Earn money, give feedback.<br>Make government better.</h3>

      <p>Using government websites can be frustrating. Your feedback will make these online tools better for millions of people.</p>

      <p>Sign up and we'll immediately send you a <strong>$5 VISA gift card</strong>. After you participate in any feedback sessions (usually 30 minutes), we'll send you a <strong>$25 VISA gift card</strong>.</p>
    </div>
  </div>
</div>

<div class="container">
  <div id="signup" class="form">
    <div class="row">

      <div id="wufoo-z15g6mjw0nvi2vu">
      Fill out my <a href="https://adhocteamus.wufoo.com/forms/z15g6mjw0nvi2vu">online form</a>.
      </div>
      <script type="text/javascript">var z15g6mjw0nvi2vu;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'adhocteamus',
      'formHash':'z15g6mjw0nvi2vu',
      'autoResize':true,
      'height':'1424',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true,
      'defaultValues':"Field28=<%= @tag_name %>"};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z15g6mjw0nvi2vu = new WufooForm();z15g6mjw0nvi2vu.initialize(options);z15g6mjw0nvi2vu.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
  </div>
</div>