$('#research_session-table').append("#{escape_javascript(render partial: 'research_sessions/research_session', locals: { research_session: @research_session } )}");
$('.ui.modal#create-research_session-modal').replaceWith("#{escape_javascript(render partial: 'research_sessions/modal', locals: { research_session: ResearchSession.new, action: 'create' } )}");
$('.ui.modal').modal({onShow: function () {
$('.ui.dropdown').dropdown();
$('.ui.modal .ui.calendar').calendar();
}});
$('.ui.modal-show.button').click(function() {
modalId = $(this).attr('id');
$('.ui.modal#' + modalId).modal('show');
});
