.ui.clearing.vertical.segment
  %h1.ui.left.floated.header
    New Client

.ui.vertical.segment
  = form_for :client, url: clients_path, html: {class: 'ui form'} do |f|
    = render 'form_fields', f: f
    %button.ui.green.button Create Client