.ui.clearing.vertical.segment
  .ui.right.floated.header
    = link_to edit_client_path(@client), class: "ui tiny basic button" do
      %i.edit.icon
      Edit Client
    = link_to new_engagement_path, class: "ui tiny green button" do
      %i.add.icon
      New Engagement
  %h1.ui.left.floated.header
    Client:
    = @client.name

.ui.vertical.segment
  - if @client.engagements.any?
    .ui.vertical.segment
      %table.ui.sortable.striped.table
        %thead
          %tr
            %th Engagement Topic
            %th Start Date
            %th End Date
            %th Sessions
        %tbody
          = render @client.engagements, { hide_client: true }
  - else
    %p No engagements exist.