- if gift_card && gift_card.errors.size > 0
  #errorExplanation
    %h3
      = pluralize(gift_card.errors.size, "error")
      prohibited this record from being saved.
    %p There were problems with the following fields:
    %ul
      - gift_card.errors.full_messages.each do |msg|
        %li= msg
