.ui.clearing.vertical.segment
  .ui.right.floated.header
    = link_to new_engagement_path, class: "ui tiny green button" do
      %i.add.icon
      New Engagement
  %h1.ui.left.floated.header
    Engagements

%table.ui.sortable.striped.table
  %thead
    %tr
      %th Topic
      %th Client
      %th Start date
      %th End date
      %th Sessions

  %tbody
    = render @engagements
