<header>
  <div class="row">
    <h1 role="banner">Cohorts</h1>
    <h2></h2>
</h1>
  </div>
</header>

<div class="hero">
  <div class="row">
    <h2>Earn money, give feedback, make government websites better.</h2>
  </div>
</div>

<div class="container">

  <div class="main" role="main">
    <div class="row">
      <h3>Cohorts is a group of people who earn money while providing feedback on websites.</h3>

      <p>When people go on government websites to do things like apply for benefits or find information, they often come away feeling frustrated and confused. That’s why we’re working with government agencies to build services that work for people. We want to know what you think.</p>

      <p>We’re a company called Ad Hoc that builds better government software. In order to do our jobs, we need to hear what people have to say about their experiences interacting with government services.</p>

      <h4>Get started</h4>

      <p>Sign up to give us feedback on the online tools and information we’re creating and we’ll immediately send you a $5 Visa gift card.</p>

      <p>Once you’re signed up, we’ll contact you when there are new feedback sessions and you can let us know if you want to be included. Your feedback helps us make sure these websites and services work. Most sessions take about 30 minutes to an hour. After you finish a feedback session, we’ll send you a $25 Visa gift card.</p>

      <p>We won’t sell or use your information for any other purpose. Want more information? Here’s our privacy policy.</p>


    </div>
  </div>
</div>

<div class="container">
  <div class="form">
    <div class="row">

      <div id="wufoo-z15g6mjw0nvi2vu">
      Fill out my <a href="https://adhocteamus.wufoo.com/forms/z15g6mjw0nvi2vu">online form</a>.
      </div>
      <script type="text/javascript">var z15g6mjw0nvi2vu;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'adhocteamus',
      'formHash':'z15g6mjw0nvi2vu',
      'autoResize':true,
      'height':'1424',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z15g6mjw0nvi2vu = new WufooForm();z15g6mjw0nvi2vu.initialize(options);z15g6mjw0nvi2vu.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>


    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <p>Powered by <a href="https://adhocteam.us/">Ad Hoc</a></p>
    </div>
  </div>
</footer>



<!-- / Wufoo form -->
