<header>
  <div class="row">
    <h1 role="banner">Cohorts</h1>
  </div>
</header>

<div class="hero">
  <div class="row">
    <h2>Help us improve the online experience for Veterans. Your feedback makes a difference.</h2>
  </div>
</div>

<div class="container">

  <div class="main" role="main">
    <div class="row">
      <h3>Why are you asking for Veteran feedback?</h3>
      <p>When Veterans go online to get information, apply for benefits, or file a claim, they can come away feeling frustrated and confused. That’s why we’re building a simple, unified experience for Veterans online. And we want to know what you think.</p>

      <h3>Who’s gathering this feedback?</h3>
      <p>The Digital Service at VA has partnered with a company called Ad Hoc, LLC in this effort to hear what Veterans have to say about their online experiences.</p>

      <h3>How do I get started?</h3>
      <p>Sign up below to give us feedback on the online tools and information we’re creating. Once you’re signed up, we’ll contact you when there are new feedback sessions, and you can let us know if you want to be a part of any of them. As a participant, your feedback will help us make sure new website features work for all Veterans. If you’re in the D.C. area, you can give us feedback in person. If not, you’ll need a computer and a connection to the Internet. It usually takes 30 minutes to an hour.</p>

      <p>After you finish a feedback session, we’ll send you a Visa gift card for $15 to $25 (depending on how long it takes.)</p>

      <p>We won’t sell or use your information for any other purpose. Want more information? Here’s our privacy policy.</p>

    </div>
  </div>
</div>


<!-- Wufoo form -->
<div class="container">
  <div class="form">
    <div class="row">
      <div id="wufoo-x1hf8igs0ukwq5y">
      Fill out my <a href="https://adhocteamus.wufoo.com/forms/x1hf8igs0ukwq5y">online form</a>.
      </div>
      <script type="text/javascript">var x1hf8igs0ukwq5y;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'adhocteamus',
      'formHash':'x1hf8igs0ukwq5y',
      'autoResize':true,
      'height':'710',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { x1hf8igs0ukwq5y = new WufooForm();x1hf8igs0ukwq5y.initialize(options);x1hf8igs0ukwq5y.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
  </div>
</div>

<!-- / Wufoo form -->
