/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= stub signup
 *= stub vets_signup
 *= stub cohorts-wufoo
 */

 body {
   background-color: #f9f9f9 !important;
 }

 .ui.page.container.segment {
   background-color: #fff;
   min-height: 100%;
   padding-top: 5em;
 }

 .ui.page-header {
   margin-top: 0em !important;
 }

 .ui.labels#tag-list {
   margin-top: 1em;
 }

 .ui.labels.tag-list {
   margin-top: 1em;
 }

 .ui.label .tag-name.detail {
   margin-left: 0em;
 }

 .delete-link .icon {
   margin: 0;
 }

 #comments {
   margin-top: 1em;
 }

 a.green {
   color: #31B684;
 }

 .strong {
   font-weight: bold;
 }

.mr {
  margin-right: 1em;
}

#notifications .ui.message {
  margin-bottom: 2em;
}

.ui.action.input .ui.dropdown:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.action.input .ui.dropdown:last-child {
    border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui.action.input .ui.fluid.search.selection.dropdown input.search {
  width: 100%;
}

.hidden-info-link {
  font-size: 8pt;
  font-weight: normal;
  color: gray;
  text-decoration: underline;
}

.divider-column {
  position: relative;
  padding: 0 !important;
}

.divider-column .ui.vertical.divider:before,
.divider-column .ui.vertical.divider:after {
  height: 100%;
}
