#container,
html.embed, * {
  background-color: none;
  background-color: transparent !important;
}

#container *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typography */
.wufoo {
  font-size: 12px;
}

.wufoo .info h2 {
  font-size: 2.1875em;
  font-weight: bold;
  color: white !important;
}

.wufoo label.desc {
  font-size: 1.1em;
  font-weight: bold;
  color: white !important;
}

.wufoo li span label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #fff !important;
}

.wufoo .info div {
  font-size: 100%;
  color: #fff !important;
}

/* Header */
.wufoo header.info {
  margin: 0 0 2em 0;
  padding: 0;
}

.wufoo span.req {
  color: #fff !important;
}

/* Button */
input#saveForm {
  display: inline-block;
  padding: .75em 2.5em;
  margin-bottom: 2em;
  background: #E15A38 !important;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input#saveForm:hover {
  background: #DE4822 !important;
}

/* Form */
.wufoo select.select {
  height: 2.85em;
  color: #fff !important;
  background: #fff !important;
}

.wufoo input.field.text,
.wufoo textarea.field.textarea {
  background: #fff !important;
  padding: .75em;
  width: 100%;
  color: #fff !important;
}

.wufoo textarea.field.textarea {
  width: 50%;
}

/* Radio Buttons */
input[type='radio'] {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius:50%;
  outline:none;
  -webkit-appearance:none;
}

input[type='radio']:hover {
  cursor: pointer;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%; 
  border: 2px solid #2a9e6a;   
}

input[type='radio']:checked:before {
  background: white;
}

.safari label.choice {
  margin-top: -18px;
}

/* Layout */
.wufoo section {
  padding: 0;
  margin: 0 0 1em 0;
}

.wufoo li {
  width: 100%;
  display: block;
  clear: both;
  margin: 0 0 2.5em 0 !important;
  padding: 0 !important;
}

/* First and Last Names */
.wufoo li#fo10li1 span {
  display: inline-lock;
  width: 49%;
  margin: 0;
  padding: 0;
}
.wufoo li#fo10li1 span:last-of-type {
  float: right;
}

.wufoo li#fo10li1 span {
  display: inline-lock;
  width: 49%;
  margin: 0;
  padding: 0;
}
.wufoo li#fo10li1 span:last-of-type {
  float: right;
}

/* Errors */
.wufoo li.error {
  background-color: transparent !important;
}

.wufoo li.error p.error {
  display: inline-block;
  padding: .5em !important;
  background: white;
  margin: 1em 0 2em !important;
}

.wufoo li.error p.error:before {
  content: '▲';
  font-size: 110%;
  margin-right: .5em;
}

.wufoo li.error .desc {
  color: white !important;
}

.wufoo #errorLi {
  width: 100% !important;
  padding: 0.5em 1em !important;
  margin-bottom: 2em !important;
  font-family: "proxima-nova";
  text-align: left;
  border: none;
  border-radius: 0;
  background-color: #E15A38 !important;
}

.wufoo #errorMsgLbl,
.wufoo #errorMsg,
.wufoo #errorMsg b {
  color: white !important;
  margin-bottom: 0 !important;
}

.wufoo #errorMsg b {
  padding: 0;
  color: inherit !important;
  background: transparent !important;
  font-weight: normal !important;
}

.wufoo li.error input.field.text,
.wufoo li.error select.select {
  background-color: #FDE8D5 !important;
}

.wufoo li.error p.error {
  color: white !important;
  background-color: #E15A38 !important;
}

.wufoo li.buttons {
  margin-bottom: 0 !important;
}

/* CSS Text Replacement */
.zip > label {
  visibility: hidden;
  position: relative;
}

.zip > label:after {
  position: absolute;
  left: 0;
  visibility: visible;
  content: 'ZIP Code';
}

/* Responsive */
@media only screen and (min-width : 768px) {
  .wufoo {
    font-size: 16px;
  }
}
