// Embedded Wufoo form styles

.wufoo {
  input.text, textarea.textarea {
    background: #FFFFFF url(/images/fieldbg.gif) repeat-x top;
  }
  .focused {
    background: #FFF7C0;
  }
  .instruct {
    background-color: #F5F5F5;
  }
}

#container {
  border: 0 solid #cccccc;
}

.wufoo {
  .info {
    border-bottom: 1px dotted #CCCCCC;
  }
  .instruct {
    border: 1px solid #e6e6e6;
  }
  .info {
    h2 {
      font-size: 160%;
      font-family: inherit;
      color: #000000;
    }
    div {
      font-size: 95%;
      font-family: inherit;
      color: #444444;
    }
  }
  .section {
    h3 {
      font-size: 110%;
      font-family: inherit;
      background: #FFFFFF;
      color: #000000;
    }
    div {
      font-size: 85%;
      font-family: inherit;
      color: #444444;
    }
  }
  label.desc, legend.desc {
    font-size: 95%;
    font-family: inherit;
    color: #444444;
  }
  li {
    div {
      font-family: inherit;
      color: #444444;
      label {
        font-family: inherit;
        color: #444444;
      }
    }
    span label {
      font-family: inherit;
      color: #444444;
    }
  }
  input.text, textarea.textarea, select.select {
    font-size: 100%;
    font-family: inherit;
    color: #333333;
  }
  label.choice {
    font-size: 100%;
    font-family: inherit;
    color: #333333;
    color: #444444;
  }
  .instruct {
    font-size: 80%;
    font-family: inherit;
    color: #444444;
  }
}
