.ui.tabular.menu.page-header
  = link_to 'Calendar', calendar_path, class: 'item'
  = link_to 'Invite', new_v2_event_invitation_path, class: 'item'
  = link_to 'Events', v2_event_invitations_path, class: 'item'
  = link_to 'Reservations', v2_reservations_path, class: 'item'
