!!!
%html
  %head
    %title Cohorts: Veteran feedback signup
    = stylesheet_link_tag    "static", media: "all"
    = render 'application/favicon'
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "True", :name => "HandheldFriendly"}/
    %meta{:content => "320", :name => "MobileOptimized"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "en_US", :property => "og:locale"}/
  %body
    = yield
